* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
  padding-top: 104px;
}

a {
  color: #fff;
  text-decoration: none;
}

/* header Desktop */

header {
  overflow: hidden;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  padding: 20px;
}

.site-logo {
  display: block;
}
header h1 {
  float: left;
  width: 64px;
}

header nav {
  float: right;
  margin-top: 20px;
}

header nav a {
  margin-left: 10px;
}

header nav a.selected {
  border-bottom: 2px solid #fff;
  padding-bottom: 2px;
}

.photos {
  text-align: center;
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
}
.photo img {
  width: 100%;
}
.photo {
  display: inline-block;
  width: 300px;
  margin: 10px;
}

.small {
  width: 220px;
}

.large {
  width: 400px;
}

footer {
  background: blue;
  position: fixed;
  bottom: 0%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

footer img {
  width: 24px;
}
